{% extends "layout.html" %}

{% block body %}
<div class="row">
	<h2>About</h2>
	<p>Long URL is looooong....</p>
</div>
<div class="row">
	<p>This service is a love letter to the Internet from <a href="http://twitter.com/jmhobbs">@jmhobbs</a>.</p>
	<p>Idea totally stolen from <a href="http://twitter.com/alexpgates">@alexpgates</a> without any regard for intellectual property whatsoever.</p>
	<p>Have fun, work hard, be kind.</p>
</div>
<hr/>
<div class="row">
	<p>Built with...</p>
	<ul>
		<li><a href="http://www.python.org/">Python</a></li>
		<li><a href="http://flask.pocoo.org/">Flask</a></li>
		<li><a href="http://redis.io/">Redis</a></li>
		<li><a href="http://gunicorn.org/">gunicorn</a></li>
		<li><a href="http://getbootstrap.com/">Bootstrap</a> + <a href="http://bootswatch.com/flatly/">Flatly from Bootswatch</a></li>
		<li>And probably some other things I forgot about.</li>
	</ul>
</div>
{% endblock %}
